name: CI

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
          environments: lint

      - name: Lint (if this step fails, please 'pixi run lint' locally and push the changes)
        run: pixi run -e lint lint

  checks:
    name: Test ${{ matrix.environment }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        environment:
          - tests-py311
          - tests-py314
          - tests-numpy1
          - tests-backends
          - tests-backends-py311
          - tests-nogil
        runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
          environments: ${{ matrix.environment }}

      - name: Test package
        # Save some time; also at the moment of writing coverage crashes on python 3.13t
        if: ${{ matrix.environment != 'tests-nogil' }}
        run: pixi run -e ${{ matrix.environment }} tests-ci

      - name: Test free-threading
        if: ${{ matrix.environment == 'tests-nogil' }}
        run: pixi run -e tests-nogil tests --parallel-threads=4

      - name: Upload coverage report
        if: ${{ matrix.environment != 'tests-nogil' }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
