name: Docs Build

on: [push, pull_request]

jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.3
        with:
          pixi-version: v0.42.1
          cache: true
          environments: docs
      - name: Build Docs
        run: pixi run -e docs docs
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-build
          path: docs/build/
